body{
font-family: 'Poppins', sans-serif;
background-color: #EAF7FD !important;
}
.brand{
    color: #2D80DA !important;
}
.navbar{
background: #CBEFFD !important;
position: sticky;
top: 0;
}
.container {
background-color: #cbeffd !important;
}
.ui-widget-content {
background: transparent !important;
border: none !important;
}
.ui-tabs-panel {
background: transparent !important;
}
.ui-widget-header {
background: transparent !important;
border: none !important;
}
label {
color: rgb(53, 127, 53);
}
.main-container {
width: 95%;
background-color: #cbeffd;
}
.error {
color: red;
font-size: 14px;
margin-top: 5px;
}
#tabs > div{
    min-height: 500px;
}
.btn-success{
    color: white !important;
}
.btn-secondary{
    color: white !important;
}

@media (min-width: 992px) {
.main-container {
    width: 50%;
}
}
