body{
    font-family: 'Poppins', sans-serif;
    background-color: #EAF7FD !important;
}
.navbar{
    background: #CBEFFD !important;
}
.brand{
    color: #2D80DA !important;
}
.nav-link:hover{
    color: #0E2D7A;
}

.active{
    color: #0E2D7A !important;
}
.primary-color{
    color: #2D80DA !important;
}
.heading-para{
    color: #163B7A !important;
}

.heading-secondary-para{
    color: #5E7CA6 !important;
}

.required{
    color: red;
}

.btn-success{
    color: white !important;
}
.btn-secondary{
    color: white !important;
}